.App {
	text-align: center;
}
.body {
	background-color: #f7f8f2;
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@font-face {
	font-family: "Sequel Sans Medium Head";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("./assets/fonts/Sequel-Head.woff") format("woff");
}

@font-face {
	font-family: "Sequel Body";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("./assets/fonts/Sequel-Body.woff") format("woff");
}

@font-face {
	font-family: "Legs";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("./assets/fonts/LEGSNSW.woff") format("woff");
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
